<div class="panel panel-default">
  <div class="panel-heading"><h4 style="text-align: center;">Common Equipment</h4></div>
  <div class="panel-body">

    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>Building</th>
          <th>Room Number</th>
        </tr>
      </thead>

      <tbody>
        <% @equipment.each do |equipment| %>
          <tr>
            <td><%= link_to "#{equipment.name}", equipment %></td>
            <td><%= equipment.location %></td>
            <td><%= equipment.room_number %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>

<table>
  <thead>
  <tr>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to 'Add New Equipment', new_equipment_path(@equipment) %></td>
    </tr>
  </tbody>
</table>

